<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CharacterCommentMapper">
	<select id="selectByCharacterId" resultType="com.example.model.CharacterComment">
		SELECT * FROM CHARACTER_COMMENTS
		WHERE anilist_id = #{anilistId}
	</select>
	<select id="getNextSequence" resultType="java.lang.Integer">
		SELECT CHARACTER_COMMENTS_SEQUENCE.NEXTVAL FROM DUAL
	</select>
	<select id="selectByCommentId" resultType="java.lang.Integer">
		SELECT count(*) FROM CHARACTER_COMMENTS
		WHERE id = #{id}
	</select>
	<insert id="insert">
        INSERT INTO CHARACTER_COMMENTS (id, anilist_id, user_id, "COMMENT")
        VALUES (#{id}, #{anilistId}, #{userId}, #{comment})
	</insert>
	<update id="updateByPrimaryKey">
		UPDATE CHARACTER_COMMENTS
		SET "COMMENT" = #{comment}
		WHERE id = #{id}
	</update>
	<delete id="deleteByPrimaryKey">
		DELETE FROM CHARACTER_COMMENTS
		WHERE id = #{id}
	</delete>
</mapper>