<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="pagination">
		<div th:if="${page.getTotalPages > 0}" class="col-auto">
			<nav>
				<ul class="pagination">
					<li th:if="${page.hasPrevious()}" class="page-item">
						<a class="page-link" th:href="@{/(page=${page.number - 1})}">前へ</a>
					</li>
					<th:block
						th:each="i: ${#numbers.sequence(0, page.getTotalPages - 1)}"
						th:switch="${page.number}">
							<li th:case="${i}" class="page-item active">
								<a class="page-link" th:text="${i + 1}"></a>
							</li>
							<li th:case="*" class="page-item">
								<a class="page-link" th:href="@{/(page=${i})}" th:text="${i + 1}"></a>
							</li>
					</th:block>
					<li th:if="${page.hasNext()}" class="page-item">
						<a class="page-link" th:href="@{/(page=${page.number + 1})}">次へ</a>
					</li>
				</ul>
			</nav>
		</div>
	</th:block>
</body>
</html>